body {
    border: 70px solid #d3d3d3; /* Сіра рамка */
    margin: 0;
    background-color: white; /* Біле тло для контенту */
    position: relative;
}
//для того щоб тінь не заходила на тло
body::before {
    content: '';
    position: absolute;
    top: -70px;
    left: -70px;
    right: -70px;
    bottom: -70px;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4); /* Тінь тільки в рамці */
    pointer-events: none;
}


.photo-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.corner-frame {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;             /* ширина рамки */
    height: 50px;            /* висота рамки */
    border-top: 5px solid red;       /* верхня лінія рамки */
    border-right: 5px solid red;     /* права лінія рамки */
    border-top-right-radius: 8px;    /* закруглений верхній правий кут */
    box-sizing: border-box;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.7);
    padding: 5px 0;
    font-weight: bold;
}


