body {
    border: 70px solid #d3d3d3; /* Сіра рамка */
    margin: 0;
    background-color: white; /* Біле тло для контенту */
    position: relative;
}
//для того щоб тінь не заходила на тло
body::before {
    content: '';
    position: absolute;
    top: -70px;
    left: -70px;
    right: -70px;
    bottom: -70px;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4); /* Тінь тільки в рамці */
    pointer-events: none;
}
.photo-container {
    display: inline-block;
    padding: 20px; /* Відступ навколо рамки */
    background-color: #f5f5f5; /* Колір фону контейнера */
}

.double-frame {
    padding: 15px; /* Відступ між рамками */
    background-color: #c41616ff; /* колір першої рамки */
    display: inline-block;
    border-radius: 8px; /* Закруглені кути (опціонально) */

}

.photo {
    display: block;
    border: 10px solid white; 
    border-radius: 4px; /* Закруглені кути для фото */
    max-width: 100%;
    height: auto;
}
.portrait-frame {
    display: inline-block;
    position: relative;
    width: 250px; /* Ширина видимої області */
    height: 350px; /* Висота видимої області */
    overflow: hidden;
}